.editArticles {
    margin-top: 15vmin;
    height: 85vmin;
    background-image: url("sandrabackground.png");
    background-repeat: no-repeat;
    background-size: 95vmin;
    background-position: 10vmin;
}
