.cards
{
     box-shadow: -5px 0px 10px -2px #01010152;
     max-height: 400px;
     background-color: #ffffffd5;
     max-width: 400px;
     color: #1c627e;     
} 


.medalia
{
     background-size: 4em 2em;
     height: 2em;
     width: 2em;
     content:"";
     display: inline-block;
}

.botton
{
     background-color: #b9f7eb;
     background-image: linear-gradient(190deg, #b9f7eb8c 1%, #87bed28c 30%);
}

.cards:hover
{
     background-color: #198a5d9b;
     
}

.doctorInfo
{
     color: #1c627e;
}


::-webkit-scrollbar
{
     width:8px;
     
}

::-webkit-scrollbar-track
{
     background: rgb(142, 32, 32);
     border-radius: 15px;
}

::-webkit-scrollbar-thumb
{
     background: gray;
     border-radius: 15px;
}
