.body{
  background-color: white;
}
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}

.formm {
  background-color: rgb(111, 183, 255);
  border: 10px solid rgb(111, 183, 255);
  padding: 20px;
  border-radius: 10px;
}

.formm input,
.formm label {
  color: white;
}

.formm button {
  margin-left: 110px;
  width: 240px;
  background-color: white;
  color: rgb(62, 158, 255);
  text-align: center;
} 

.h3
{
  color: #eee;
  text-align: center;
  margin-bottom: 40px;
}
.btn-primary:hover {
  background-color: rgba(39, 7, 69, 0.653); /* Set the background color to orange on hover */
  color: white; /* Change the text color to white on hover */
}

.btnn
{
  position: relative;
  top: -300px;
}

.breath
{
  font-size: 35px;
  font-weight: bold;
  color:  rgb(111, 183, 255);
  position: relative;
  top: -500px;

}