.loading-overlay {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;

    z-index: 1000; /* Ensure the overlay appears above other content */
}
